.rodape {
  background-color: #6278f7;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 75px 0px;
  align-items: center;
}

.rodape__redes {
  justify-content: center;
  align-items: center;
}

.rodape__redes ul {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.rodape__redes ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rodape__redes ul li a {
  display: flex;
  text-align: center;
  align-items: center;
}

.rodape__imagem-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rodape p {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
}
